/* CSS file for RPS */
@font-face {
  font-family: "Saw";
  src: url("../ASSETS/Sawfont-7RVD.otf") format(truetype);
}

/* Body */
.rps-body {
  position: relative;
  background: url("../IMG/saw_home.jpg") no-repeat center center/cover;
  text-align: center;
  color: #f5f5f5;
  font-family: "Saw", sans-serif;
}

/* Main welcome section */
.main-section {
  position: absolute;
  top: 10%;
  right: 20%;
}

.main-section h2 {
  font-size: 80px;
}

.enter-user {
  margin: 20px 0;
}
