/* CSS for Homepage */
/* All projects */
.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

/* Individual projects */
.project {
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  padding: 20px;
  box-shadow: 3px 5px solid rgba(0, 0, 0, 0.3);
}

.project-img {
  width: 50%;
}

/* Saw Project */
.saw-project {
  background: url("IMG/saw_win.jpg") no-repeat center center/cover;
  color: var(--white);
}

/* Link */
.project-link {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Drum Kit Project */
.drumkit-project {
  background: url("IMG/drum_kit_img.jpg") no-repeat center center/cover;
  color: var(--white);
}

/* Quiz App Project */
.quiz-app-project {
  background: url("IMG/QuizApp/vecteezy_question-point-symbol-vector-image-in-a-cartoon-style-help_7162571.jpg")
    no-repeat center center/cover;
}
