/* CSS for Homepage */
/* All projects */
.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

/* Individual projects */
.project {
  width: 250px;
  height: 300px;
  text-align: center;
  border: 2px solid red;
  padding: 20px;
}

.project-img {
  width: 50%;
}

/* Saw Project */
.saw-project {
  background: url("IMG/saw_win.jpg") no-repeat center center/cover;
  color: var(--white);
}

/* Drum Kit Project */
.drumkit-project {
  background: url("IMG/drum_kit_img.jpg") no-repeat center center/cover;
  color: var(--white);
}
