/* CSS file for utilities on all pages and projects */
:root {
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

img {
  width: 20%;
}

.home-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
}
