/* CSS file for quiz app */
.quiz-app-body {
  background: radial-gradient(#fff, #86bbd8);
}

/* Header */
.header-container {
  position: absolute;
  top: 25%;
  display: flex;
}

/* Generate Quiz Button */
.generate {
  position: relative;
  background-color: #ef4d2f;
  font-family: "Playpen Sans", cursive;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-wrap: nowrap;
  margin: 40px;
}

.generate::before {
  content: "?";
  font-family: "Young Serif", sans-serif;
  position: absolute;
  bottom: -125%;
  left: -128%;
  font-size: 20rem;
  color: #ef4d2f;
}

.generate::after {
  content: "Generate Quiz";
  font-weight: 800;
  position: absolute;
  top: 34%;
  left: -40%;
}

/* Questions Container */
.questions-container {
  margin-top: 150px;
  width: 600px;
}

/* Checkboxes */
.checkboxes {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.answer {
  margin: 10px 0;
}

input[type="checkbox"]:checked {
  accent-color: #ef4d2f;
}

/* Next Button */
.next {
  background-color: #ef4d2f;
  color: var(--white);
  width: 200px;
}

.score {
  font-size: 3rem;
  font-weight: bolder;
  color: #ef4d2f;
  text-shadow: 0 0 10px var(--black);
}

@media (max-width: 1200px) {
  .questions-container {
    width: 80vw;
  }
}
