/* CSS file for RPS */
@font-face {
  font-family: "Saw";
  src: url("../ASSETS/Sawfont-7RVD.otf") format(truetype);
}

@font-face {
  font-family: "scare-btn";
  src: url("../ASSETS/shlop\ rg.otf");
}

@font-face {
  font-family: "Saw-original";
  src: url("../ASSETS/sawesome.ttf") format(truetype);
}

/* Body */
.rps-body {
  position: relative;
  background: url("../IMG/saw_home.jpg") no-repeat center center/cover;
  text-align: center;
  color: #f5f5f5;
  font-family: "Saw", sans-serif;
  transition: background-image 0.3s ease;
}

/* Main welcome section */
.main-section {
  position: absolute;
  top: 10%;
  right: 20%;
}

.main-section h2 {
  font-size: 80px;
}

.enter-user {
  margin: 20px 0;
}

/* Buttons section */
.buttons-section {
  position: absolute;
  right: 32%;
}

.rps-btn {
  font-family: "scare-btn", sans-serif;
  font-size: 2rem;
  width: 130px;
  margin: 0 10px;
  border-radius: 30px;
  color: red;
  background-color: transparent;
  border: 2px solid red;
  transition: all 0.6s ease-in-out;
}

.rps-btn:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

/* Results section */
.results-section {
  position: absolute;
  top: 60%;
  right: 20%;
  width: 400px;
}

.show-result {
  margin: 20px 0;
}

.quote {
  margin-top: 50px;
}

/* Fade ins */
.welcome-user,
.show-result {
  opacity: 0;
  transition: opacity 1s ease-in;
}

/* Media queries */
@media (max-width: 1200px) {
  .main-section {
    height: 100vh;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-section h2 {
    font-size: 40px;
  }

  .buttons-section {
    /* display: flex; */
    width: 100%;
    margin: 0 5px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }

  .rps-btn {
    width: 100px;
    font-size: 24px;
  }

  .results-section {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
